@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --dark: #151515;
  --primary: #7868e6;
  --light-primary: #b8b5ff;
}

body {
  font-weight: 300 !important;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: var(--dark);
}
